{% extends "base.html" %}

{% block content %}
<br><br>
<h2>Purchase History</h2>
{% if orders %}
<table class="table table-hover table-bordered container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order #</th>
      <th scope="col">Date</th>
      <th scope="col">Total</th>
      <th scope="col">Items</th>
      <th scope="col">Fulfilled?</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <th scope="row">{{ order.id }}</th>
      <td>{{ order.created_at }}</td>
      <td>{{ format_money(order.total_cents) }}</td>
      <td>{{ order.item_count }}</td>
      <td>{{ 'Yes' if order.fulfilled else 'No' }}</td>
      <td><a href="{{ '/orders/' ~ order.id }}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No purchases yet.</p>
{% endif %}
{% endblock %}
